{{#if updateQuestionForm}}
  <h4>Update "{{question.title}}"</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" placeholder=question.title}}
        </div>
        <br>

        <div class="form-group">
          <label for="text">Question Content/Additional Info</label><br><br>
          {{textarea value=questionContent id="questionContent" placeholder=question.text}}
        </div>
        <button {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}} class="btn btn-primary">Update Question</button>
{{/if}}
